*{
    margin: 0;
    padding: 0;
}

/*Cabecera*/

.Primera_nav{
    background: #05323C;
    padding: 1% 0 1% 0;
}
.contenedor-img{
    display: inline-block;
    padding: 0 0 0 10px;
}
ul img{
    width: 30px;
    height: auto;
}
.UL{
  padding-left: 90%;  
}

/*Barra de navegacion principal*/

.Segunda_nav{
    padding: 0% 0 0% 1%;
    background: #fff;
    overflow: hidden;
}
.Segunda_nav ul{
    display: flex;
}
.Segunda_nav ul li ul{
    display: flex;
    flex-direction: column;
}
.Segunda_nav ul li ul{
    position: absolute;
    background: #fff;
}
.Segunda_nav ul li ul li{
    width: 180px;
    position: relative;
}
.Segunda_nav ul li ul li ul{
    top: 0;
    left: 106px;
    position: absolute;
    background: #fff;
}
.Segunda_nav ul li ul li > a{
    all: none;
    text-align: center;
}
.Segunda_nav ul li ul{
    display: none;
}

.Segunda_nav ul li:hover > ul{
    display: block;
}
.align-img{
    margin-bottom: 15px;
}
#logoimg{
    width: 180px;
    height: auto;
    float: left;
}
ul{
    list-style: none;
    padding: 0.5% 0% 0.5% 0%;
}
li{
    display: inline; 
    padding: 0 0 0 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.A {
    padding: 20px 10px;
    display: block;
    background-image: linear-gradient(#EEB00D, #EEB00D);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size .3s;
}
.A:hover,.A:focus{background-size: 100% 3px;}
nav .A{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/*Imagen inicio*/

body{
    background: #F6F6F9;
}
#imgInicio{
    width: auto;
    height: auto;
}

/*Seccion de de clubs*/

.conteiner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/Escuela.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

 .row{
     display: flex;
     height: 88%;
     align-items: center;
 }
 .col{
     flex-basis: 50%;
 }
 h1{
     color: #fff;
     font-size: 90px;
 }
 .texto{
     color: #fff;
     font-size: 20px;
     line-height: 25px;
 }
 .card{
     width: 200px;
     height: 230px;
     display: inline-block;
     border-radius: 10px;
     padding: 15px 25px;
     box-sizing: border-box;
     cursor: pointer;
     margin: 10px 15px;
     background-image: url(img/Soccer.jpg);
     background-position: center;
     background-size: cover;
     transition:transform 0.5s;
 }
 .card1{
    background-image: url(img/Soccer.jpg);
 }
 .card2{
    background-image: url(img/Dibujo1.jpg);
 }
 .card3{
    background-image: url(img/Carru1.jpg);
 }
 .separador{
     padding-left: 15%;
 }
 .card:hover{
     transform: translateY(-10px);
 }
 h5{
     color: #fff;
     text-shadow: 0 0 5px #999;
     font-size: 20px;
     padding-bottom: 10px;
 }
 .parrafo{
    color: #fff;
    font-size: 15px;
    line-height: 15px;
 }
 .parrafoA{
    color: #fff;
    font-size: 1;
    line-height: 17px;
 }
 /*Pie de pagina*/
footer{
    background: #7c233e;
    padding: 50px 0 50px 0;
}
footer p{
    text-align: center;
    color: #fff;
}
